{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/logo.ico' %}">
    <link rel="stylesheet" href="{%static 'core/css/style.css' %}" />
    {%block stylesheet%} {%endblock%}

    <title>{% block title %}{%endblock%}</title>
    
  </head>

  <body>
    {% block body %}{%endblock%} 
    
    {%block javascript%} {%endblock%}
  </body>
</html>
