ai21==1.3.2
anthropic==0.7.2
beautifulsoup4==4.12.2
boto3==1.29.3
botocore==1.32.3
cohere==4.35
faiss==1.5.3
Flask==3.0.0
librosa==0.10.1
numpy==1.26.2
openai==1.3.3
pdf2image==1.16.3
Pillow==10.1.0
pinecone==0.1.0
protobuf==4.25.1
pymilvus==2.3.3
pymongo==4.6.0
pytesseract==0.3.10
pytest==7.4.3
python_on_whales==0.67.0
Requests==2.31.0
sentence_transformers==2.2.2
setuptools==44.0.0
tabulate==0.9.0
tokenizers==0.15.0
torch==2.1.1
tqdm==4.66.1
transformers==4.35.2
urllib3==2.1.0
vertexai==0.0.1
Werkzeug==3.0.1
word2number==1.1
yfinance==0.2.31
