#   core requirements for main llmware operations and use cases
#   please see also requirements_extras.txt

#   installed with standard pip
numpy>=1.23.2,<2.0
huggingface-hub>=0.19.4
tokenizers>=0.15.0
boto3>=1.24.53
colorama==0.4.6


