#   requirements_extras - optional libraries most often used in conjunction with llmware
#   these libraries will be installed with the welcome_to_llmware.sh script and are used in many examples  

torch>=1.13.1
transformers>=4.36.0
einops>=0.7.0
Wikipedia-API>=0.6.0
openai>=1.0
datasets>=2.15.0
yfinance>=0.2.38
pymilvus>=2.3.0
chromadb>=0.4.22
streamlit
Flask
