#create-new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#create-new-project>div:nth-child(1) {

    background-color: rgb(240 240 240);
    padding: 1.5rem 3rem;

    display: flex;
    flex-direction: column;
    border-radius: 20px;

    box-shadow: 0 25px 50px -10px rgb(0 0 0 / 0.25);
    width: 45%;
}

h2 {
    font-size: 1.8rem;
}

.form-group {
    margin: 3px 0px;
    padding: 3px 0px;

    display: flex;
    flex-direction: column;

    font-size: 1rem;
}

.form-group>label {
    letter-spacing: 0.5px;
    margin: 2px 0px;
}

input,
textarea,
select {
    border-radius: 8px;
    border: none;

    padding: 10px 6px;
    font-size: 1rem;

    outline: none;
}

textarea {
    height: 7rem;
}

option {
    font-size: 0.9rem;
    border-radius: 2px;
    padding: 2px;
}

#submit-button {
    margin-top: 1rem;
    background-color: rgb(59 130 246);
    border: none;
    border-radius: 10px;
    padding: 8px 0px;


    width: 100%;
    font-size: 1.1rem;
    color: white;
}