boto3==1.24.53  
numpy>=1.23.2
openai>=1.0
pymongo>=4.7.0
torch>=1.13.1
transformers>=4.36.0
Wikipedia-API==0.6.0
psycopg-binary==3.1.17
psycopg==3.1.17
pgvector==0.2.4  
colorama==0.4.6
einops==0.7.0
librosa>=0.10.0
word2number==1.1

tokenizers>=0.15.0
huggingface-hub==0.19.4  
requests>=2.31.0
tqdm~=4.66.1
botocore~=1.27.96
setuptools~=68.2.0
fastapi>=0.111.0
llmware==0.2.12