.form-page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    top: 0px;
    background-color: #9898984e;
    z-index: 1000;
    gap: 20px;
}

.load-page{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn{
    cursor: pointer;
}
.form-wrapper{
    max-width: 500px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--ui-background);
    box-shadow: -1px -2px 37px 0px rgba(207,207,207,1);
    border-radius: 20px;
}

h2{
    font-weight: 500;
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,select{
    width: 360px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E3E3E5;
    padding: 10px;
}

label{
    font-size: 15px;
    color: #0B0B0B;
}

.sub-btn{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 12px 24px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    background: var(--ui-dark-bg);
    color: #fff;
    text-decoration: none;
}