:root {
    --primary-color: #32a852; /* Green */
    --secondary-color: #f9a825; /* Light Orange */
    --background-color: #f7f7f7;
    --text-color: #333;
    --button-hover-color: #388e3c;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.upload-btn {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.upload-btn:hover {
    background-color: var(--button-hover-color);
}

.upload-btn i {
    margin-right: 5px;
}

#imageInput {
    display: none;
}

.loading {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#result {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: none;
    color: var(--primary-color);
}

#result p {
    margin: 0;
}
