body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333333;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-field {
    flex: 0 0 48%;
    margin-bottom: 10px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
}

.button-container {
    text-align: center;
}

.btn {
    background-color: #06BBCC;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #04a7b9;
}

.result-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.result {
    flex: 0 0 30%;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-heading {
    background-color: #06BBCC;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.result-content {
    padding: 10px;
}
